# Tailscale
TS_AUTHKEY=

# Gitea
GITEA_SUB_DOMAIN=gitea
GITEA_DB_PASSWORD=gitea-password
GITEA_DOMAIN=gitea.domain.com

# Openwebui
OPEN_WEBUI_DOMAIN=openwebui.domain.com
OPEN_WEBUI_OAUTH_CLIENT_ID=
OPEN_WEBUI_OAUTH_CLIENT_SECRET=
OPEN_WEBUI_OAUTH_PROVIDER_URL=https://id.domain.com/.well-known/openid-configuration
OPEN_WEBUI_OAUTH_PROVIDER_NAME=PocketID

# PocketID
APP_URL=https://id.domain.com
CLOUD_FLARED_API_KEY_POCKETID=
CLOUD_FLARE_API_KEY_CADDY=

# Run `openssl rand -base64 32` to generate encryption key
ENCRYPTION_KEY=

# Immich
IMMICH_DB_PASSWORD=immich-db-password
IMMICH_DOMAIN=immich.domain.com
