{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

gitea.prokope.io {
    reverse_proxy gitea:3000
}

openwebui.prokope.io {
    reverse_proxy open-webui:8080
}

immich.prokope.io {
    reverse_proxy immich-server:2283
}

ha.prokope.io {
    reverse_proxy 172.17.0.1:8123
}